


<div id="blog" class="mt-3">
  <div class="container">
    <article>
      <div class="panel">
        <div class="panel-heading">
          <h1> <%=  @article[:title] %></h1>


          <div class="byine">
            <div class="row d-flex">
              <div class="col-6">
                <div class="date pt-3">
                  <%=  @article[:published].strftime("%A %d %B %Y") %>

                </div>

              </div>

              <div class="col-6 ">
                <div class=" float-right">
                  <ul class="share">

                    <li>
                      <%= link_to  "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}" do %>
                        <i class="fab fa-facebook-square"></i>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to  "https://twitter.com/intent/tweet?source=webclient&amp;url=#{request.original_url}" do %>
                        <i class="fab fa-twitter-square"></i>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to  "http://www.linkedin.com/shareArticle?mini=true&amp;url=#{request.original_url}" do %>
                        <i class="fab fa-linkedin"></i>
                      <% end %>
                    </li>


                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>




        <div class="panel-body">
        <%= raw @article[:content] %>

        </div>

      </div>


    </article>

  </div>
</div>
